header {
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
}

body {
    background-color: aliceblue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: brown;
    color: white;
}

.services {
    width: 25%;
    float: left;
}

.main-content {
    width: 50%;
    float: left;
}

.testimonials {
    width: 25%;
    float: right;
}

